body {
    min-height: 100vh;
    overflow-x: hidden;
}

.sidebar {
    min-height: 100vh;
    background-color: rgb(0, 128, 128);
}

.header {
    display: flex;
    padding: 25px 25px 25px 25px;
    background-color: rgb(2, 95, 99);
}

.footer {
    padding: 25px 25px 25px 25px;
    background-color: rgb(2, 95, 99);
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.sidebar a:hover {
    background-color: #495057;
}

.main_content {
    max-width: 1000px;
    margin: auto;
}

.pmod {
    background-color: rgb(2, 95, 99);
    color: aliceblue;
}

.document-title {
    color: rgb(2, 95, 99);
}

.heading {
    color: rgb(2, 95, 99);
}