/*
$light: (
    panel-header: (),
    panel-content: (),
    text: (),
    button: (),
);

$purple: (
    panel-header: (
        bg: $blue-lighten-20,
        color: $surface-900,
        border-color: $surface-900,
    ),
    panel-content: (
        bg: $blue-lighten-20,
        color: $base-red,
    ),
    text: (
        font: $h6-font-family,
        color: $h6-color,
    ),
    button: (
        bg: $base-red,
        color: $surface-100,
    ),
);

$dark: (
    panel-header: (
        bg: $brandteal-lighten-20,
        color: $surface-900,
        border-color: $surface-900,
    ),
    panel-content: (
        bg: $surface-600,
        color: $base-brandteal,
    ),
    text: (
        font: $h1-font-family,
        color: $h6-color,
    ),
    button: (
        bg: $base-red,
        color: $surface-100,
    ),
);
*/