/*** Abstracts imports ***/
@import 'abstracts/functions';
@import 'abstracts/colors';
@import 'abstracts/lengths';
@import 'abstracts/fonts';
@import 'abstracts/fonts-h-tags-v1';
@import 'abstracts/placeholders';
@import 'abstracts/mixins';

/*** import the customised main primeng designer theme ***/
@import 'vendors/primeng-designer/themes/main/theme'; 

/*** import the customised external primeng designer theme ***/
.external-theme {    
    @import 'vendors/primeng-designer/themes/external/theme';  
}

/*** Styles basement imports ***/
@import 'base/reset';
@import 'base/typography';
@import "primeicons/primeicons.css";

/*** Components imports ***/
@import 'components/common';
@import 'components/file-upload';
@import 'components/labelfield';
@import 'components/progressspinner';
@import 'components/uishell';

/*** Pages Styles imports ***/
@import 'pages/home';

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font-families-segoe-ui;
    color: $surface-000;

    a{
        color: $surface-000;
    };

    code{
        // color: $surface-000;
        color: $blue-darken-10;
        background-color: $surface-200;
    }

    .header {
        display: flex;
        padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
        background-color: $base-brandteal;
        img{
            padding: 1rem;
        }
        .PAYE_Modernisation_ERR_Documentation{
            p{
                font-size: 2rem;
                color: $base-white;
                font-weight: $bold-font-weight;
                padding-top: 2rem;
                };
            text-align: center;
            padding: 1rem;
        }
        border-bottom: solid $base-cyan 1rem;
    };

    main{
        .card{
            .card-img-top{
                padding: 1rem !important;
                background-color: $brandmint-lighten-50 !important;
                max-height: 12.6875rem;
            };
            margin-bottom: 2rem !important;
            .card-text{
                font-size: $h3-font-size !important;
                text-align: center;
            };
        };

        #content{ 

            // **** temporary css class to resize h2 headings **** remove when main page headings are change to h1
            h2 {
                background-color: $base-white;
                color: $base-brandteal;
                text-align: center;
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-weight: $bold-font-weight;
                font-size: $h1-700-font-size;
            };
        };
    }

        .sidebar {
            min-height: 100vh;
            // background-color: $base-brandmint;
            background-color: $base-brandteal;
            font-weight: $semibold-font-weight;
        };

        .pmod {
            background-color: $base-white;
            color: $base-brandteal;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-weight: $bold-font-weight;
        };

    .footer {
    padding: 1.5625rem 1.5625rem 1.5625rem 1.5625rem;
    background-color: $base-brandteal;
    border-top: solid $base-cyan 1rem;
    }
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 0.625rem;
    display: block;
}

.sidebar a:hover {
    background-color: #495057;
}

.main_content {
    max-width: 62.5rem;
    margin: auto;
}

.document-title {
    color: rgb(2, 95, 99);
}

.heading {
    color: rgb(2, 95, 99);
}

code {
    font-family: Monaco, monospace;
}

.no-dot {
    list-style: none;
}