<html>

<body>
    <h2>ERR PIT3 (PIT Current Version)</h2>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-invoice-pit3.svg" alt="ERR Technical Support Documentation PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">ERR Technical Support Documentation PIT Current Version</p>
                        <a href="#err-pit3-technical-docs" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-code-solid-pit3.svg" alt="ERR Examples PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">ERR Examples PIT Current Version</p>
                        <a href="#err-pit3-examples" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-pit3.svg" alt="ERR Supporting Documentation PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">ERR Supporting Documentation PIT Current Version</p>
                        <a href="#err-pit3-supporting-docs" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
