<html>

<body>
    <h2>ERR PIT4 (PIT Next Version)</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid laudantium nisi fugit delectus esse voluptate
        incidunt ratione atque, quis consequatur tempore quasi at illo enim. Quasi incidunt ipsam molestias facere!</p>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-invoice-pit4.svg" alt="ERR Technical Support Documentation PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">ERR Technical Support Documentation PIT Next Version</p>
                        <a href="#err-pit4-technical-docs">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-code-solid-pit4.svg" alt="ERR Examples PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">ERR Examples PIT Next Version</p>
                        <a href="#err-pit4-examples">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-pit4.svg" alt="ERR Supporting Documentation PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">ERR Supporting Documentation PIT Next Version</p>
                        <a href="#err-pit4-supporting-docs">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
