<html>

<body>
    <h2>PAYE Modernisation Web Services</h2>
    <p>As part of PAYE Modernisation, a number of web services are provided to allow employers to report to Revenue
        payroll,
        expense and benefit data. Payroll web services are provided to allow reporting to Revenue to be integrated into
        an
        employer’s payroll run. Enhanced reporting requirement (ERR) web services are provided to allow reporting to
        Revenue
        to be integrated into an employer’s expense and benefit run.</p>
    <p>There are two PIT Environments available to software developers. The PIT3 environment (PIT Current Version) is a
        representation of the live environment, with functionality kept up to date with the functionality currently
        available in the live environment. The PIT4 environment (PIT Next Version) contains upcoming functionality that
        is
        pertinent for developers to test their software ahead of the live release.</p>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/brand.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Public Interface Testing (PIT) Global</p>
                        <a href="#pithome">Click here</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/brand2.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">PMOD PIT3 (PIT Current Version)</p>
                        <a href="#page1">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/brand3.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">PMOD PIT4 (PIT Next Version)</p>
                        <a href="#page4">Click here</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/brand4.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">ERR PIT3 (PIT Current Version)</p>
                        <a href="#page1">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/brand5.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">ERR PIT4 (PIT Next Version)</p>
                        <a href="#page1">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/brand6.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Support Facilities</p>
                        <a href="#page1">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>