<html>

<body>
    <h2>PMOD PIT4 (Next Version)</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid laudantium nisi fugit delectus esse voluptate
        incidunt ratione atque, quis consequatur tempore quasi at illo enim. Quasi incidunt ipsam molestias facere!</p>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/code.svg" alt="PIT Self Service and ROS Payroll Reporting PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">PIT Self Service and ROS Payroll Reporting PIT Next Version</p>
                        <a href="#home8">Click here</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="./templates/home/money-bill-transfer-pit3.svg" alt="Guide PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">Guide PIT Next Version</p>
                        <a href="#home9">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/money-bill-transfer-pit4.svg" alt="PAYE Web Service Specifications (SOAP/XML) PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">PAYE Web Service Specifications (SOAP/XML) PIT Next Version</p>
                        <a href="#home10">Click here</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-invoice-pit3.svg" alt="PAYE Web Service Specifications  (REST/JSON) PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">PAYE Web Service Specifications  (REST/JSON) PIT Next Version</p>
                        <a href="#home11">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-invoice-pit4.svg" alt="Supporting Documentation PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">Supporting Documentation PIT Next Version</p>
                        <a href="#home12">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/circle-question.svg" alt="PAYE Web Service Examples PIT Next Version">
                    <div class="card-body">
                        <p class="card-text">PAYE Web Service Examples PIT Next Version</p>
                        <a href="#home13">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>