<html>

<body>
    <h2>PIT Self Service and ROS Payroll Reporting PIT Current Version</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid laudantium nisi fugit delectus esse voluptate
        incidunt ratione atque, quis consequatur tempore quasi at illo enim. Quasi incidunt ipsam molestias facere!</p>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/code.svg" alt="PIT Self Service and ROS Payroll Reporting PIT Current Version">
                    <div class="card-body">
                        <p class="card-text">PIT Self Service and ROS Payroll Reporting PIT Current Version</p>
                        <a href="#home2">Click here</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                     <img class="card-img-top" src="./templates/home/money-bill-transfer-pit3.svg" alt="Guide PIT Current Version">
                    <div class="card-body">
                        <p class="card-text">Guide PIT Current Version</p>
                        <a href="#home3">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/money-bill-transfer-pit4.svg" alt="PAYE Web Service Specifications (SOAP/XML) PIT Current Version">
                    <div class="card-body">
                        <p class="card-text">PAYE Web Service Specifications (SOAP/XML) PIT Current Version</p>
                        <a href="#home4">Click here</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-invoice-pit3.svg" alt="PAYE Web Service Specifications  (REST/JSON) PIT Current Version">
                    <div class="card-body">
                        <p class="card-text">PAYE Web Service Specifications  (REST/JSON) PIT Current Version</p>
                        <a href="#home5">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-invoice-pit4.svg" alt="Supporting Documentation PIT Current Version">
                    <div class="card-body">
                        <p class="card-text">Supporting Documentation PIT Current Version</p>
                        <a href="#home6">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/circle-question.svg" alt="PAYE Web Service Examples PIT Current Version">
                    <div class="card-body">
                        <p class="card-text">PAYE Web Service Examples PIT Current Version</p>
                        <a href="#home7">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>