<html>

<body>
    <h2>PMOD PIT3 (Current Version)</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid laudantium nisi fugit delectus esse voluptate
        incidunt ratione atque, quis consequatur tempore quasi at illo enim. Quasi incidunt ipsam molestias facere!</p>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/code.svg" alt="PIT Self Service and ROS Payroll Reporting PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">PIT Self Service and ROS Payroll Reporting PIT Current Version</p>
                        <a href="#pit3-self-service" class="stretched-link">Click here</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                     <img class="card-img-top" src="./templates/home/book-pit3.svg" alt="Guide PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">Guide PIT Current Version</p>
                        <a href="#pit3-guide" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-code-pit3.svg" alt="PAYE Web Service Specifications (SOAP/XML) PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">PAYE Web Service Specifications (SOAP/XML) PIT Current Version</p>
                        <a href="#pit3-soap" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-code-solid-pit3.svg" alt="PAYE Web Service Specifications  (REST/JSON) PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">PAYE Web Service Specifications  (REST/JSON) PIT Current Version</p>
                        <a href="#pit3-rest" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/file-pit3.svg" alt="Supporting Documentation PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">Supporting Documentation PIT Current Version</p>
                        <a href="#pit3-supporting-docs" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card home-card" style="width: 18rem;">
                    <img class="card-img-top" src="./templates/home/circle-question.svg" alt="PAYE Web Service Examples PIT Current Version">
                    <div class="card-body text-center">
                        <p class="card-text">PAYE Web Service Examples PIT Current Version</p>
                        <a href="#pit3-examples" class="stretched-link">Click here</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>